<div class="right_content_wrapper">
  <div class="text_widget">
    <h5><%= t('blog.twitter') %></h5>
    <div class="twitter_message_content">
      <div class="tweet"></div>
    </div>
  </div>
</div>  